In [1]:
# https://plotly.com/javascript/gapminder-example/

import pandas as pd
import csv
import seaborn as sns
import matplotlib as mpl
from matplotlib import pyplot as plt



from sqlalchemy import Integer, String, Float, Column
from sqlalchemy.orm import Session

# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.ext.automap import automap_base

import sqlite3
from sqlite3 import Error


def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()


if __name__ == '__main__':
    create_connection("./db/life_expectancy.db")

2.6.0

In [2]:
engine = create_engine('sqlite:///db/life_expectancy.db')

In [3]:
# get data - life expectancy
life_expectancy_df = pd.read_csv('Life_Expectancy_Data.csv')
life_expectancy_df

,Country,Year,Status,Life Expectancy,Adult Mortality,Infant Deaths,Alcohol,Percentage Expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358879,12222251.0,11.0,11.2,0.434,9.8

In [4]:
# get data - continents - https://www.kaggle.com/andradaolteanu/country-mapping-iso-continent-region
continents_df = pd.read_csv('continents2.csv')
# continents_df
continents_df[continents_df["name"] == "United States of America" ]
# continents_df

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
235,United States of America,US,USA,840,ISO 3166-2:US,Americas,Northern America,NaN,19.0,21.0,NaN

In [5]:
# Drop all unwanted columns
continents_df.drop(columns=['alpha-2', 'alpha-3', 'country-code', 'iso_3166-2',
        'intermediate-region', 'region-code', 'sub-region-code',
       'intermediate-region-code'], inplace=True)
continents_df

                  name   region          sub-region
0          Afghanistan     Asia       Southern Asia
1        Åland Islands   Europe     Northern Europe
2              Albania   Europe     Southern Europe
3              Algeria   Africa     Northern Africa
4       American Samoa  Oceania           Polynesia
..                 ...      ...                 ...
244  Wallis and Futuna  Oceania           Polynesia
245     Western Sahara   Africa     Northern Africa
246              Yemen     Asia        Western Asia
247             Zambia   Africa  Sub-Saharan Africa
248           Zimbabwe   Africa  Sub-Saharan Africa

[249 rows x 3 columns]

In [6]:
# Rename the column to country
continents_df.rename(columns={'name': 'Country'}, inplace=True)
continents_df

               Country   region          sub-region
0          Afghanistan     Asia       Southern Asia
1        Åland Islands   Europe     Northern Europe
2              Albania   Europe     Southern Europe
3              Algeria   Africa     Northern Africa
4       American Samoa  Oceania           Polynesia
..                 ...      ...                 ...
244  Wallis and Futuna  Oceania           Polynesia
245     Western Sahara   Africa     Northern Africa
246              Yemen     Asia        Western Asia
247             Zambia   Africa  Sub-Saharan Africa
248           Zimbabwe   Africa  Sub-Saharan Africa

[249 rows x 3 columns]

In [7]:
# Merge life_expectancy and continents dataframe
life_exp_df = pd.concat([life_expectancy_df, continents_df])
life_exp_df[life_exp_df["Country"] == "United States of America" ]

,Country,Year,Status,Life Expectancy,Adult Mortality,Infant Deaths,Alcohol,Percentage Expenditure,Hepatitis B,Measles,...,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,region,sub-region
2794,United States of America,2015.0,Developed,79.3,13.0,23.0,NaN,0.0,92.0,188.0,...,95.0,0.1,NaN,NaN,0.8,0.6,NaN,NaN,NaN,NaN
2795,United States of America,2014.0,Developed,79.1,14.0,23.0,8.82,0.0,92.0,667.0,...,95.0,0.1,NaN,NaN,0.8,0.6,NaN,NaN,NaN,NaN
2796,United States of America,2013.0,Developed,78.9,16.0,23.0,8.82,0.0,91.0,187.0,...,94.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,NaN,NaN
2797,United States of America,2012.0,Developed,78.8,16.0,24.0,8.82,0.0,9.0,55.0,...,94.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,NaN,NaN
2798,United States of America,2011.0,Developed,78.7,16.0,25.0,8.67,0.0,91.0,220.0,...,96.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,NaN,NaN
2799,United States of America,2010.0,Developed,78.7,15.0,25.0,8.55,0.0,92.0,63.0,...,95.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,NaN,NaN
2800,United States of America,2009.0,Developed,78.5,18.0,26.0,8.71,0.0,92.0,71.0,...,95.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,NaN,NaN
2801,United States of America,2008.0,Developed,78.2,18.0,27.0,8.74,0.0,94.0,140.0,...,96.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,NaN,NaN
2802,United States of America,2007.0,Developed,78.1,11.0,27.0,8.74,0.0,93.0,43.0,...,96.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,NaN,NaN
2803,United States of America,2006.0,Developed,77.8,113.0,28.0,8.63,0.0,93.0,55.0,...,96.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,NaN,NaN
2804,United States of America,2005.0,Developed,77.5,112.0,28.0,8.52,0.0,93.0,66.0,...,96.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,NaN,NaN
2805,United States of America,2004.0,Developed,77.5,111.0,28.0,8.48,0.0,92.0,37.0,...,96.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,NaN,NaN
2806,United States of America,2003.0,Developed,77.2,114.0,28.0,8.40,0.0,92.0,56.0,...,96.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,NaN,NaN
2807,United States of America,2002.0,Developed,77.0,115.0,28.0,8.33,0.0,88.0,41.0,...,94.0,0.1,NaN,NaN,0.8,0.6,NaN,NaN,NaN,NaN
2808,United States of America,2001.0,Developed,76.9,115.0,28.0,8.25,0.0,89.0,116.0,...,94.0,0.1,NaN,NaN,0.8,0.6,NaN,NaN,NaN,NaN
2809,United States of America,2000.0,Developed,76.8,114.0,28.0,8.21,0.0,9.0,85.0,...,94.0,0.1,NaN,NaN,0.8,0.7,NaN,NaN,NaN,NaN
235,United States of America,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Americas,Northern America

In [8]:
life_exp_df['Year'].isnull().values.any()

True

In [9]:
life_exp_df

,Country,Year,Status,Life Expectancy,Adult Mortality,Infant Deaths,Alcohol,Percentage Expenditure,Hepatitis B,Measles,...,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,region,sub-region
0,Afghanistan,2015.0,Developing,65.0,263.0,62.0,0.01,71.279624,65.0,1154.0,...,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,NaN,NaN
1,Afghanistan,2014.0,Developing,59.9,271.0,64.0,0.01,73.523582,62.0,492.0,...,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,NaN,NaN
2,Afghanistan,2013.0,Developing,59.9,268.0,66.0,0.01,73.219243,64.0,430.0,...,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,NaN,NaN
3,Afghanistan,2012.0,Developing,59.5,272.0,69.0,0.01,78.184215,67.0,2787.0,...,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,NaN,NaN
4,Afghanistan,2011.0,Developing,59.2,275.0,71.0,0.01,7.097109,68.0,3013.0,...,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oceania,Polynesia
245,Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,Northern Africa
246,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia,Western Asia
247,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,Sub-Saharan Africa
248,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,Sub-Saharan Africa

In [10]:
life_exp_df[life_exp_df['Year'].isna()]

,Country,Year,Status,Life Expectancy,Adult Mortality,Infant Deaths,Alcohol,Percentage Expenditure,Hepatitis B,Measles,...,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,region,sub-region
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia,Southern Asia
1,Åland Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe,Northern Europe
2,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe,Southern Europe
3,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,Northern Africa
4,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oceania,Polynesia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oceania,Polynesia
245,Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,Northern Africa
246,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia,Western Asia
247,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,Sub-Saharan Africa
248,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,Sub-Saharan Africa

In [11]:
clean_life_exp_df = life_exp_df[life_exp_df['Year'].notna()]

In [12]:
clean_life_exp_df[clean_life_exp_df['Year'].isna()]

Empty DataFrame
Columns: [Country, Year, Status, Life Expectancy, Adult Mortality, Infant Deaths, Alcohol, Percentage Expenditure, Hepatitis B, Measles, BMI, under-five deaths, Polio, Total expenditure, Diphtheria, HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling, region, sub-region]
Index: []

[0 rows x 24 columns]

In [13]:
pd.options.display.max_columns = None
clean_life_exp_df

,Country,Year,Status,Life Expectancy,Adult Mortality,Infant Deaths,Alcohol,Percentage Expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,region,sub-region
0,Afghanistan,2015.0,Developing,65.0,263.0,62.0,0.01,71.279624,65.0,1154.0,19.1,83.0,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,NaN,NaN
1,Afghanistan,2014.0,Developing,59.9,271.0,64.0,0.01,73.523582,62.0,492.0,18.6,86.0,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,NaN,NaN
2,Afghanistan,2013.0,Developing,59.9,268.0,66.0,0.01,73.219243,64.0,430.0,18.1,89.0,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,NaN,NaN
3,Afghanistan,2012.0,Developing,59.5,272.0,69.0,0.01,78.184215,67.0,2787.0,17.6,93.0,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,NaN,NaN
4,Afghanistan,2011.0,Developing,59.2,275.0,71.0,0.01,7.097109,68.0,3013.0,17.2,97.0,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004.0,Developing,44.3,723.0,27.0,4.36,0.000000,68.0,31.0,27.1,42.0,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2,NaN,NaN
2934,Zimbabwe,2003.0,Developing,44.5,715.0,26.0,4.06,0.000000,7.0,998.0,26.7,41.0,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5,NaN,NaN
2935,Zimbabwe,2002.0,Developing,44.8,73.0,25.0,4.43,0.000000,73.0,304.0,26.3,40.0,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0,NaN,NaN
2936,Zimbabwe,2001.0,Developing,45.3,686.0,25.0,1.72,0.000000,76.0,529.0,25.9,39.0,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8,NaN,NaN
2937,Zimbabwe,2000.0,Developing,46.0,665.0,24.0,1.68,0.000000,79.0,1483.0,25.5,39.0,78.0,7.10,78.0,43.5,547.358879,12222251.0,11.0,11.2,0.434,9.8,NaN,NaN

In [15]:
final_life_expectancy_df = clean_life_exp_df[["Country","Year","Life Expectancy","Adult Mortality","BMI","GDP","Population","Polio","HIV/AIDS","Hepatitis B","Measles"]]
final_life_expectancy_df

,Country,Year,Life Expectancy,Adult Mortality,BMI,GDP,Population,Polio,HIV/AIDS,Hepatitis B,Measles
0,Afghanistan,2015.0,65.0,263.0,19.1,584.259210,33736494.0,6.0,0.1,65.0,1154.0
1,Afghanistan,2014.0,59.9,271.0,18.6,612.696514,327582.0,58.0,0.1,62.0,492.0
2,Afghanistan,2013.0,59.9,268.0,18.1,631.744976,31731688.0,62.0,0.1,64.0,430.0
3,Afghanistan,2012.0,59.5,272.0,17.6,669.959000,3696958.0,67.0,0.1,67.0,2787.0
4,Afghanistan,2011.0,59.2,275.0,17.2,63.537231,2978599.0,68.0,0.1,68.0,3013.0
...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004.0,44.3,723.0,27.1,454.366654,12777511.0,67.0,33.6,68.0,31.0
2934,Zimbabwe,2003.0,44.5,715.0,26.7,453.351155,12633897.0,7.0,36.7,7.0,998.0
2935,Zimbabwe,2002.0,44.8,73.0,26.3,57.348340,125525.0,73.0,39.8,73.0,304.0
2936,Zimbabwe,2001.0,45.3,686.0,25.9,548.587312,12366165.0,76.0,42.1,76.0,529.0
2937,Zimbabwe,2000.0,46.0,665.0,25.5,547.358879,12222251.0,78.0,43.5,79.0,1483.0

In [16]:
table_name = 'country_data'


final_life_expectancy_df.to_sql(
    table_name,
    engine,
    if_exists='replace',
    index=False,
    chunksize=500,
    dtype={
        "Country": String,
        "Year": Integer,
        "Life_Expectancy": Float,
        "Adult_Mortality": Float,
        "BMI": Float,
        "GDP": Float,
        "Population": Float,
        "Polio": Float,
        "HIV_AIDS": Float,
        "Hepatitis_B": Float,
        "Measles": Float
    }
)

In [17]:
results = engine.execute("SELECT * FROM country_data")
pd.DataFrame(results).rename(columns = {0:'Country',1:'Year',2:'Life_Expectancy',3:'Adult_Mortality',4:'BMI' ,5:'GDP' ,6:'Population',7:'Polio' ,8:'HIV_AIDS' ,9:'Hepatitis_B' ,10:'Measles'})

,Country,Year,Life_Expectancy,Adult_Mortality,BMI,GDP,Population,Polio,HIV_AIDS,Hepatitis_B,Measles
0,Afghanistan,2015,65.0,263.0,19.1,584.259210,33736494.0,6.0,0.1,65.0,1154.0
1,Afghanistan,2014,59.9,271.0,18.6,612.696514,327582.0,58.0,0.1,62.0,492.0
2,Afghanistan,2013,59.9,268.0,18.1,631.744976,31731688.0,62.0,0.1,64.0,430.0
3,Afghanistan,2012,59.5,272.0,17.6,669.959000,3696958.0,67.0,0.1,67.0,2787.0
4,Afghanistan,2011,59.2,275.0,17.2,63.537231,2978599.0,68.0,0.1,68.0,3013.0
...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,44.3,723.0,27.1,454.366654,12777511.0,67.0,33.6,68.0,31.0
2934,Zimbabwe,2003,44.5,715.0,26.7,453.351155,12633897.0,7.0,36.7,7.0,998.0
2935,Zimbabwe,2002,44.8,73.0,26.3,57.348340,125525.0,73.0,39.8,73.0,304.0
2936,Zimbabwe,2001,45.3,686.0,25.9,548.587312,12366165.0,76.0,42.1,76.0,529.0
2937,Zimbabwe,2000,46.0,665.0,25.5,547.358879,12222251.0,78.0,43.5,79.0,1483.0